@import url(https://db.onlinewebfonts.com/c/9262e77ed678f97830a52da91ffe9a7d?family=Dream+Caps+W00+Regular);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.carousel,
.carousel-item,
.carousel-item img {
  height: 100vh;
  object-fit: cover;
}

.carousel-caption {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
}
.written-main{
  margin-top: 80px;
}
.written-main .heading{
  color: rgb(140, 136, 136);
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.written-main p{
  color: #9e9191;
  font-family: "Dream Caps W00 Regular";
  word-spacing: 2.5px;
  line-height: 1.64rem;
}
.written-main .last{
  letter-spacing: 2.5px;
}
.written-main .lst{
  letter-spacing: 2.3px;
  font-size: .88rem;
}
.col-4 a{
  text-decoration: none;
  color: #9e9191;
}